cloudpickle==3.0.0
colorama==0.4.6
importlib-metadata==6.8.0
joblib==1.3.2
llvmlite==0.41.1
numba==0.58.1
numpy==1.23.5
package-name==0.1
packaging==23.2
pandas==2.0.3
pyswarm==0.6
python-dateutil==2.8.2
pytz==2023.3.post1
scikit-learn==1.2.2
scipy==1.10.1
shap==0.43.0
six==1.16.0
slicer==0.0.7
threadpoolctl==3.2.0
tqdm==4.66.1
tzdata==2023.3
zipp==3.17.0
